<ion-header>
  <ion-toolbar>
    <ion-title>
      HTML Venda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button expand="full" (click)="abrirHTMLLocal()"> Carregar Arquivo HTML </ion-button> -->
  <ion-button expand="full" (click)="openModal()"> Selecionar Impressora </ion-button>
  <ion-button expand="full" (click)="testPrinter()"> Testar Impressão </ion-button>
  <ion-button expand="full" (click)="selectFile()"> Selecionar Comprovante </ion-button>
  <!-- <ion-button expand="full" (click)="imprimirComprovante()"> Imprimir Comprovante </ion-button> -->
</ion-content>
